@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #dbdbdb;
    overflow-y: hidden;
}

.page {
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border: solid black;
    border-color: black;
}

.red {
    color: #FF0000;
}

.red.btn {
    background-color: #FF0000;
}

.blue {
    color: #639ff8;
}

.btn {
    color: white;
    background-color: #639ff8;
    width: 80%;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.btn:hover {
    background-color: #5080c9;
}

.red.btn:hover {
    background-color: #b80000;
}

.red.btn:active {
    background-color: #880000;
}

.btn:active {
    background-color: #3f5a8c;
    transform: translateY(2px);
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeIn 1s ease reverse forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-out {
    animation: slideOut 3s ease forwards;
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(-200vh);
    }
}

.slide-in {
    animation: slideOut 3s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(200vh);
    }
    90% {
        transform: translateY(-5vh);
    }
    100% {
        transform: translateY(0);
    }
}

.left-right {
    animation: leftRight 1.5s ease forwards;
}

@keyframes leftRight {
    0% {
        transform: translateX(-100vw);
    }
    70% {
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(0);
    }
}

/* LOGIN PAGE */

.login__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__header {
    font-size: 48px;
    text-align: center;
}

.login__subtitle {
    font-size: 24px;
    text-align: center;
}

.login__form--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login__form--input {
    text-align: center;
    width: 80%;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    
}

.login__form--input::placeholder {
    color: #dbdbdb;
}

/* CHARACTER MAKER */

.character__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character__wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 80px;
}

.character__header {
    font-size: 48px;
    text-align: center;
    padding-bottom: 24px;
}

.class__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 48px;
}

.class__button--wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform ease 0.3s;
    cursor: pointer;
}

.class__button--wrapper.selected {
    transform: scale(1.2);
}

.class__button--wrapper.selected .box{
    background-color: #ebee47;
}

.class__button--wrapper.selected:hover {
    transform: scale(1.15);
}

.class__button--wrapper.selected:active {
    transform: scale(0.9) translateY(2px);
    filter: brightness(0.9);
}

.class__button--wrapper:hover {
    transform: scale(1.05);
}

.class__button--wrapper:active {
    transform: scale(1.0) translateY(2px);
    filter: brightness(0.9);
}

.class__name {
    font-size: 18px;
}

.class__button--wrapper .box {
    padding: 6px 6px;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: black 2px solid;
}

.character__section .btn, .info__section .btn {
    width: 80%;
    font-size: 24px;
}

.class__desc {
    max-width: 150px;
}

.btn.disabled {
    filter: brightness(0.7) !important;
    cursor: not-allowed !important;
}

/* INFO */

.info__text {
    font-size: 24px;
    text-align: center;
    padding-bottom: 48px;
    max-width: 480px;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info__section {
    width: 300px;
    display: flex;
    justify-content: center;
}

/* MAP */

.map__header {
    position: absolute;
    padding: 24px;
    z-index: 2;
}

.map__header__text {
    font-size: 32;
}

.map__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.map__container {
    background-color: #dbdbdb;
    width: 70vw;
    position: relative;
    aspect-ratio: 1/1;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.map__icon--wrapper, .map__icon--path {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.map__icon--wrapper img {
}

.map__icon--wrapper {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.map__icon--wrapper.inaccessible {
    cursor: not-allowed;
    filter: opacity(0.4);
}

.map__icon--wrapper:hover {
    transform: scale(1.05);
}

.map__icon--wrapper:active {
    transform: scale(1.00);
}

.map__icon--wrapper.inaccessible:hover {
    transform: scale(1.00);
}

.map__text {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}

.map__icons--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Character Tab */
.character__stats {
    border: black 2px solid;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: white;
    z-index: 1;
}

.character__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.character__desc--wrapper {
    text-align: center;
}

.character__desc--username {
    font-size: 18px;
}

.character__desc--class {
    font-size: 12px;
    color: #DBDBDB;
}

.character__portrait .box {
    padding: 6px 6px;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: black 2px solid;
}

.character__core {
    font-size: 18px;
}

.character__skills {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-evenly;
    width: 100%;
}

.skill__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
}

.skill__cost {
    color: #dbdbdb;
}

.skill__button {
    background-color: #d9d9d9;
    border: black solid 2px;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.skill__button:hover {
    transform: scale(1.05);
}

.skill__button:active {
    transform: scale(1.0);
}

.character__stats .btn {
    width: 50%;
}

@media (max-width: 1100px) {
    .skill__wrapper {
        width: 100%;
    }

    .character__stats .btn {
        width: 90%;
    }
}

@media (max-width: 700px) {

    .map__header {
        right: 0;
    }

    .character__info {
        width: 90%;
    }

    .skill__wrapper {
        font-size: 14px;
        width: 90%;
        gap: 8px;
    }

    .character__stats .btn {
        width: 90%;
    }
}

/* COMBAT */
.combat__container {
    background-color: #dbdbdb;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    animation: forwards linear 1s enemyEnter;
}

.enemy__info {
    margin: 0 auto;
    font-size: 20px;
}

.enemy__wrapper {
    text-align: center;
    max-width: 33%;
    display: inline-block;
}

.enemy__wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.enemy__wrapper .btn {
    margin-top: 24px;
    width: 100%;
    font-size: 18px;
}

@keyframes enemyEnter {
    0% {
        transform: translateY(-200vh);
    }
    70% {
        transform: translateY(5vh);
    }
    85% {
        transform: translateY(-2vh);
    }
    100% {
        transform: translateY(0);
    }
}

.enemy-kill {
    animation: ease 0.7s enemyKill forwards;
}

@keyframes enemyKill {
    0% {
        transform: translateY(0) rotate(0deg) scale(1);
        filter: opacity(1);
    }
    40% {
        transform: translateY(-10) rotate(70deg) scale(0.9);
        filter: opacity(0.9);
    }
    80% {
        transform: translateY(30) rotate(-105deg) scale(0.75);
        filter: opacity(0.5);
    }
    100% {
        transform: translateY(25) rotate(-90deg) scale(0.8);
        filter: opacity(0.5);
    }
}

.enemy-attack {
    animation: ease 0.8s enemyAttack forwards;
}

@keyframes enemyAttack {
    0% {
        transform: translateY(0) rotate(0deg) scale(1);
    }
    30% {
        transform: translateY(-10) rotate(25deg) scale(0.7);
    }
    60% {
        transform: translateY(30) rotate(-15deg) scale(1.3);
    }
    70% {
        transform: translateY(-5) rotate(5deg) scale(0.9);
    }
    100% {
        transform: translateY(0) rotate(0deg) scale(1);
    }
}

@media (max-width:600px) {
    .combat__container {
        padding: 0px;
    }
}

/* Death Message */
.death-message__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.death-message__box {
    width: 80%;
    height: 70%;
    background-color: white;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
}

.death__title {
    font-size: 48px;
}

.death__text {
    font-size: 24px;
}

.death-message__box .btn {
    width: 40%;
    margin-top: 64px;
}