@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #dbdbdb;
    overflow-y: hidden;
}

.page {
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border: solid black;
    border-color: black;
}

.red {
    color: #FF0000;
}

.red.btn {
    background-color: #FF0000;
}

.blue {
    color: #639ff8;
}

.btn {
    color: white;
    background-color: #639ff8;
    width: 80%;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: #5080c9;
}

.red.btn:hover {
    background-color: #e40000;
}

.red.btn:active {
    background-color: #af0000;
}

.btn:active {
    background-color: #3f5a8c;
    transform: translateY(2px);
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* LOGIN PAGE */

.login__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__header {
    font-size: 48px;
    text-align: center;
}

.login__subtitle {
    font-size: 24px;
    text-align: center;
}

.login__form--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.login__form--input {
    text-align: center;
    width: 80%;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    
}

.login__form--input::placeholder {
    color: #dbdbdb;
}

/* CHARACTER MAKER */

.character__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character__wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 80px;
}

.character__header {
    font-size: 48px;
    text-align: center;
    padding-bottom: 24px;
}

.class__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 48px;
}

.class__button--wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform ease 0.3s;
    cursor: pointer;
}

.class__button--wrapper:hover {
    transform: scale(1.05);
}

.class__button--wrapper:active {
    transform: scale(1.0) translateY(2px);
    filter: brightness(0.9);
}

.class__name {
    font-size: 18px;
}

.class__button--wrapper .box {
    padding: 6px 6px;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: black 2px solid;
}

.character__section .btn, .info__section .btn {
    width: 80%;
    font-size: 24px;
}

.class__desc {
    max-width: 150px;
}

/* INFO */

.info__text {
    font-size: 24px;
    text-align: center;
    padding-bottom: 48px;
    max-width: 480px;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info__section {
    width: 300px;
    display: flex;
    justify-content: center;
}

/* MAP */

.map__header {
    position: absolute;
    padding: 24px;
}

.map__header__text {
    font-size: 32;
}

.map__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.map__container {
    background-color: #dbdbdb;
    width: 70%;
    position: relative;
}

.map__icon--wrapper, .map__icon--path {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    aspect-ratio: auto;
}

.map__icon--wrapper {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.map__icon--wrapper:hover {
    transform: scale(1.05);
}

.map__text {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}

.map__icons--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Character Tab */
.character__stats {
    border: black 2px solid;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.character__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.character__desc--wrapper {
    text-align: center;
}

.character__desc--username {
    font-size: 18px;
}

.character__desc--class {
    font-size: 12px;
    color: #DBDBDB;
}

.character__portrait .box {
    padding: 6px 6px;
    background-color: #d9d9d9;
    margin: 0 auto;
    border: black 2px solid;
}

.character__core {
    font-size: 18px;
}

.character__skills {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
}

.character__stats .btn {
    text-align: center;
}

.skill__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    font-size: 18px;
}

.skill__cost {
    color: #dbdbdb;
}

.skill__button {
    background-color: #d9d9d9;
    border: black solid 2px;
    padding: 0px 6px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.skill__button:hover {
    transform: scale(1.05);
}

.skill__button:active {
    transform: scale(1.0);
}

/* COMBAT */
.combat__container {
    background-color: #dbdbdb;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

.enemy__info {
    margin: 0 auto;
    font-size: 20px;
}

.enemy__wrapper {
    text-align: center;
    max-width: 33%;
}

.enemy__wrapper .btn {
    margin-top: 24px;
    width: 100%;
    font-size: 18px;
}